<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Text Overlay App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body{
            padding: 20px;
            text-align: center;
        }
        form{
            width: 50%;
            margin: auto;
            margin-bottom: 20px;
        }
        input{
            width: 70%;
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1>Image Editor</h1>
    <p>Edit the image below by inputting text you wish to overlay on it. Optionally, you can also upload a logo to overlay it in the bottom right corner as well.</p>
    
    <form action="{{ url_for('handle_submit')}}" method="post" enctype=multipart/form-data>
        <input type="text" name="overlay_text" placeholder="Overlay text" />
        <input type="file" name="logo" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <img src="{{url_for('static', filename='fall-season.jpeg')}}" alt="Image" />
</body>
</html>